body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:900px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4005 {
  position:absolute;
  left:0px;
  top:-15px;
  width:1600px;
  height:900px;
}
#u4006 {
  position:absolute;
  left:2px;
  top:442px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4007 {
  position:absolute;
  left:248px;
  top:837px;
  width:273px;
  height:34px;
  font-size:16px;
}
#u4008 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  word-wrap:break-word;
}
#u4009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u4009 {
  position:absolute;
  left:1139px;
  top:837px;
  width:16px;
  height:16px;
}
#u4010 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u4011 {
  position:absolute;
  left:1190px;
  top:837px;
  width:16px;
  height:16px;
}
#u4012 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u4013 {
  position:absolute;
  left:1217px;
  top:837px;
  width:16px;
  height:16px;
}
#u4014 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u4015 {
  position:absolute;
  left:1165px;
  top:837px;
  width:16px;
  height:16px;
}
#u4016 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u4017 {
  position:absolute;
  left:1232px;
  top:837px;
  width:350px;
  height:20px;
  text-align:center;
}
#u4018 {
  position:absolute;
  left:2px;
  top:2px;
  width:346px;
  word-wrap:break-word;
}
#u4019 {
  position:absolute;
  left:248px;
  top:5px;
  width:414px;
  height:26px;
}
#u4019_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:420px;
  height:32px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4020 {
  position:absolute;
  left:3px;
  top:3px;
  width:413px;
  height:25px;
}
#u4021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
}
#u4021 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  color:#027995;
  text-align:center;
}
#u4021_img.selected {
}
#u4021.selected {
}
#u4022 {
  position:absolute;
  left:2px;
  top:2px;
  width:98px;
  word-wrap:break-word;
}
#u4023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
}
#u4023 {
  position:absolute;
  left:102px;
  top:0px;
  width:102px;
  height:20px;
  color:#027995;
  text-align:center;
}
#u4023_img.selected {
}
#u4023.selected {
}
#u4024 {
  position:absolute;
  left:2px;
  top:2px;
  width:98px;
  word-wrap:break-word;
}
#u4025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
}
#u4025 {
  position:absolute;
  left:204px;
  top:0px;
  width:102px;
  height:20px;
  color:#027995;
  text-align:center;
}
#u4025_img.selected {
}
#u4025.selected {
}
#u4026 {
  position:absolute;
  left:2px;
  top:2px;
  width:98px;
  word-wrap:break-word;
}
#u4027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
}
#u4027 {
  position:absolute;
  left:306px;
  top:0px;
  width:102px;
  height:20px;
  color:#027995;
  text-align:center;
}
#u4027_img.selected {
}
#u4027.selected {
}
#u4028 {
  position:absolute;
  left:2px;
  top:2px;
  width:98px;
  word-wrap:break-word;
}
#u4029 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4030 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4031 {
  position:absolute;
  left:248px;
  top:33px;
  width:1334px;
  height:55px;
}
#u4032 {
  position:absolute;
  left:2px;
  top:20px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4033 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4034 {
  position:absolute;
  left:276px;
  top:52px;
  width:57px;
  height:17px;
}
#u4035 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4036 {
  position:absolute;
  left:1261px;
  top:98px;
  width:137px;
  height:22px;
}
#u4036_input {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4036_input {
  font-family:'应用字体';
}
#u4037 {
  position:absolute;
  left:1445px;
  top:98px;
  width:137px;
  height:22px;
}
#u4037_input {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4037_input {
  font-family:'应用字体';
}
#u4038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4038 {
  position:absolute;
  left:265px;
  top:105px;
  width:48px;
  height:24px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4038_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
  background:inherit;
  background-color:rgba(102, 177, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 177, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4038.mouseOver {
}
#u4038_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
  background:inherit;
  background-color:rgba(102, 177, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 177, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4038.selected {
}
#u4039 {
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4040 {
  position:absolute;
  left:275px;
  top:110px;
  width:29px;
  height:17px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4041 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4042 {
  position:absolute;
  left:343px;
  top:50px;
  width:89px;
  height:22px;
}
#u4042_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4042_input {
  font-family:'应用字体';
}
#u4042_input:disabled {
  color:grayText;
}
#u4043 {
  position:absolute;
  left:442px;
  top:50px;
  width:89px;
  height:22px;
}
#u4043_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4043_input {
  font-family:'应用字体';
}
#u4043_input:disabled {
  color:grayText;
}
#u4044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:688px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4044 {
  position:absolute;
  left:248px;
  top:139px;
  width:1334px;
  height:688px;
}
#u4045 {
  position:absolute;
  left:2px;
  top:336px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4046 {
  position:absolute;
  left:12px;
  top:5px;
  width:105px;
  height:823px;
}
#u4046_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:111px;
  height:829px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4047 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:828px;
}
#u4048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:42px;
}
#u4048 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:42px;
}
#u4049 {
  position:absolute;
  left:2px;
  top:13px;
  width:101px;
  word-wrap:break-word;
}
#u4050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:45px;
}
#u4050 {
  position:absolute;
  left:0px;
  top:42px;
  width:105px;
  height:45px;
}
#u4051 {
  position:absolute;
  left:2px;
  top:14px;
  width:101px;
  word-wrap:break-word;
}
#u4052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:736px;
}
#u4052 {
  position:absolute;
  left:0px;
  top:87px;
  width:105px;
  height:736px;
}
#u4053 {
  position:absolute;
  left:2px;
  top:360px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4054 {
  position:absolute;
  left:127px;
  top:5px;
  width:105px;
  height:823px;
}
#u4054_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:111px;
  height:829px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4055 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:828px;
}
#u4056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:42px;
}
#u4056 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:42px;
}
#u4057 {
  position:absolute;
  left:2px;
  top:13px;
  width:101px;
  word-wrap:break-word;
}
#u4058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:45px;
}
#u4058 {
  position:absolute;
  left:0px;
  top:42px;
  width:105px;
  height:45px;
}
#u4059 {
  position:absolute;
  left:2px;
  top:14px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:736px;
}
#u4060 {
  position:absolute;
  left:0px;
  top:87px;
  width:105px;
  height:736px;
}
#u4061 {
  position:absolute;
  left:2px;
  top:360px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1322px;
  height:488px;
}
#u4062 {
  position:absolute;
  left:254px;
  top:227px;
  width:1322px;
  height:488px;
}
#u4063 {
  position:absolute;
  left:2px;
  top:236px;
  width:1318px;
  visibility:hidden;
  word-wrap:break-word;
}
