.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.button {
}
.text_field {
}
._图片 {
}
._一级标题 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.line {
}
._文本段落 {
  text-align:left;
}
._文本链接 {
  color:#0000FF;
}
._鼠标悬停文本链接时 {
}
._鼠标按下文本链接时 {
}
.table_cell {
}
.menu_item {
}
._形状 {
}
._图片1 {
  color:#000000;
}
._文本框 {
  color:#000000;
  text-align:left;
}
._多行文本框 {
  text-align:left;
}
._下拉列表框 {
  color:#000000;
  text-align:left;
}
._复选框 {
  text-align:left;
}
._单选按钮 {
  text-align:left;
}
._流程形状 {
}
._树节点 {
  text-align:left;
}
._提交按钮 {
  color:#000000;
}
._表格 {
}
._水平线 {
}
._垂直线 {
}
._连接线 {
}
.icon {
}
._形状1 {
}
._默认样式 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
.shape {
}
.vertical_line {
}
.line1 {
}
.image {
  color:#000000;
}
.placeholder {
}
.heading_3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.iconfont {
  font-family:'iconfont Regular', 'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
._文本段落1 {
  text-align:left;
}
.table_cell1 {
}
.droplist {
  color:#000000;
  text-align:left;
}
._图片2 {
  color:#000000;
}
._形状2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
